* {
  padding: 0;
  margin: 0;
  font-family: "Poppins , sans-serif";
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
  padding-left: 80px;
  height: 70px;
  background: rgba(40, 39, 39, .7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 4;
}

.header .navigation {
  display: flex;
  gap: 5rem;
  font-size: 11px;
  color: #ffff;
  font-weight: 10;
  text-transform: capitalize;
  text-decoration: none;
  padding-right: 150px;
}

a {
  display: flex;
  gap: 5rem;
  font-size: 19px;
  color: #ffffff;
  font-weight: 10;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}


.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';

}

.link--nav {
  font-family: Poppins;
  text-transform: capitalize;
  text-decoration: none;
}

.link--nav::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--nav:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.logo {
  cursor: pointer;
  height: 6rem;
}

.title {
  font-size: 50px;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgb(71, 69, 69);
  mix-blend-mode: overlay;
  pointer-events: none;
}

.content {
  padding: 11rem;
  width: 60%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  color: #f5f5f5;
  padding-top: 190px;
  padding-left: 130px;
}

.content .title {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
}

.content .sub-title {
  font-size: 25px;
  font-family: Sulphur Point;
}

.title {
  font-size: 4rem;
}

nav ul li {
  --c: rgb(241, 241, 241);
  color: var(--c);
  font-size: 13px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
  margin: -1px;
  cursor: pointer;
}

nav ul li span {
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.6s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
  position: absolute;
}

nav ul li:hover {
  color: rgb(0, 0, 0);
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

#home {
  height: 100vh;
}

#menu {
  min-height: auto;
  background-color: #141414;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
 
}

#about-us {
  height: 100vh;
  background-color: #282828;
  padding-top: 100px;
}

#contact-us {
  height: 100vh;
  background-color: #303131;
  padding-top: 100px;
}

.menu-title {
  font-size: 40px;
  font-family: Poppins;
  padding: 1.5rem;
  color: #ffff;
  padding-left: 80px;

}

.title-product {
  color: #ffff;
  font-size: 30px;
  font-family: Poppins;
  padding: 1.5rem;
  color: #ffff;
  padding-left: 80px;
  padding-bottom: 12px;
  width:100%;
}

hr {
  width: 100%;
  margin: auto;
}

.description {
  color: #e2d8d8;
  font-size: 15px;
  position: absolute;
  top: 10rem;
  left: 10px;
}

.all-product {
  height: fit-content;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 77px;
  padding-top: 20px;
  row-gap: 40px;
}

.all-product .container-product {
  background-color: rgb(67, 65, 63);
  height: 12rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.all-product .container-product .product-img {
  height: 100%;
  object-fit: cover;
  width: 100%;

}